@model TourManagement.Core.DbContext.Tour

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transport.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transport.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href="@Url.Action("Index","HotelsManagement")" class="btn btn-dark">Back</a>
        </div>
    }
</div>
